@import "@carbon/themes/scss/themes";

// Use the gray 100 theme
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

// import Carbon styles here
@import "carbon-components/scss/globals/scss/styles.scss";

// Carbon chart styles
@import "@carbon/charts/styles-g100.css";
